NODE_ENV="development"
# mongo password X0mfvhzg9SnYqMFZ
MONGO_URI=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:5000"
FRONTEND_URL="http://localhost:5173"
GEMINI_KEY=""

UPLOADTHING_TOKEN=''

# Polar API credentials
POLAR_PRODUCT_ID=""
POLAR_ACCESS_TOKEN=""
POLAR_WEBHOOK_SECRET=""
